<div>
    <input type="text" placeholder="Input crop name" id="">
    <button>search</button>
</div>
<div class="main">
    <div class="cards">
        <tr>
            <th>Client name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Product name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <button type="submit">Add to cart</button>
        </tr>
        
    </div>
    <div class="cards">
        <tr>
            <th>Client name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Product name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <button type="submit">Add to cart</button>
        </tr>
        
    </div>
    <div class="cards">
        <tr>
            <th>Client name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Product name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <button type="submit">Add to cart</button>
        </tr>
        
    </div>
    <div class="cards">
        <tr>
            <th>Client name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Product name:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>User User</td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <button type="submit">Add to cart</button>
        </tr>
        
    </div>
</div>
