<app-navbar></app-navbar>

<div class="banner">
    <div class="container">
        <div class="header">
          <div class="" >
            <h1>Farmer-<span style="color:green; font-weight:bold;">Market</span> Bridge</h1><br>
            <h4>Worry Not About the Market</h4>
            <button class="btn btn-success" routerLink="/allproducts">Shop Now</button>
           </div>
        </div>
    </div>
</div>

<div id="category">
     <div class="text-center mt-5">
            <h2 class="fw-bold mt-2"> CATEGORIES
                <span style="color:#5BC43B; font-weight:bold;"> SECTION </span>
            </h2>
            <p>Here are some that we featured for choose your best</p>
            <img src="../../../assets/s.png" class="image-fluid" alt="img">
        </div>
    <div class="dispCategory" id="dispCategory">
        <div class="cards">
            <h4>Cereals</h4>
            <img src="https://cdn.pixabay.com/photo/2016/12/27/15/48/cobs-1934194__340.jpg" alt="" width="300vw" height="150vh"><br><br>
            <button class="btn btn-outline-success" routerLink="/allproducts">View All</button>
        </div>
        <div class="cards">
            <h4>Vegetables</h4>
            <img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/vegetables-1238252__340.jpg" alt=""  width="300vw" height="150vh"><br><br>
            <button class="btn btn-outline-success" routerLink="/allproducts">View All</button>
        </div>
        <div class="cards">
            <h4>Fruits</h4>
            <img src="https://cdn.pixabay.com/photo/2018/01/17/22/24/strawberries-3089148__340.jpg" alt=""  width="300vw" height="150vh"><br><br>
            <button class="btn btn-outline-success" routerLink="/allproducts">View All</button>
        </div>
        <div class="cards">
            <h4>Legumes</h4>
            <img src="https://cdn.pixabay.com/photo/2014/02/06/17/53/beans-260210__340.jpg" alt="" width="300vw" height="150vh"><br><br>
            <button class="btn btn-outline-success" routerLink="/allproducts">View All</button>
        </div>
        <div class="cards">
            <h4>Beverages</h4>
            <img src="https://cdn.pixabay.com/photo/2016/05/06/09/04/leaf-1375470__340.jpg" alt=""  width="300vw" height="150vh"><br><br>
            <button class="btn btn-outline-success" routerLink="/allproducts">View All</button>
        </div>
        <div class="cards">
            <h4>Grains</h4>
            <img src="https://cdn.pixabay.com/photo/2014/07/02/06/47/wheat-381848__340.jpg" alt=""  width="300vw" height="150vh"><br><br>
            <button class="btn btn-outline-success" routerLink="/allproducts">View All</button>
        </div>
    </div>
</div>

<section class="about_section">
    <div class="container">
        <div class="section_heading text-center mt-1">
            <h4>AgriCoop</h4>
            <h2 class="fw-bold">Farmer Market Bridge</h2>
            <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>It has
                survived not only five centuries.</p>
            <img src="../../assets/sb.png" class="image-fluid" alt="banner">
        </div>
        <div class="row about_b mt-5">
            <div class="col-sm-6 col-md-6">
                <div class="about_info">
                    <h3 class="fw-bold">What Is <span >Agricoop?</span></h3>
                    <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.</p>
                    <a routerLink="/signup" class="btn button_1">GET STARTED</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="why_info">
                    <h3 class="fw-bold">Why Choose Us?</h3>
                    <img src="../../assets/s.png" class="image-fluid" alt="banner" />
                    <div class="mt-3">
                        <p><i class="fa fa-check"></i> We provide an avenue for farmers to reach the market.</p>
                        <p><i class="fa fa-check"></i>We are not invloved in deciding which client a farmer decides to do business with.</p>
                        <p><i class="fa fa-check"></i>  We help the farmer ship their produce to the market at a pocket friendly fee. </p>
                        <p><i class="fa fa-check"></i>We verify that a every user is what they claim to be.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</section>
<hr>
<div id="contact">
    
    <div>
        
        <div class="contactus" style="color: black; text-align:left; font-size: 22px;">
            <div class="sec-title text-center" style="margin-top: 20px; padding: 0px 40px;">
                <h2 class="fw-bold">REQUEST A <span style="color: #5BC43B;"> CALL BACK</span></h2>
                <p>Please don’t hesitate to chat with me just drop a line.</p>
                <span><img src="../../assets/s.png" class="image-fluid" alt="banner" /></span>
                <br>
                <br>
            </div>
            <div class="contactus">
                <div>
                    <!-- <h1 style="color: black;">Contact Us</h1> -->
                    <img src="https://i1.wp.com/solutio.world/wp-content/uploads/2021/04/call-center.gif?resize=387%2C218&ssl=1" alt="">
                </div>
    
                <div>
                   <form action="">
                    <div class="form-group">
                        <label for="">Email</label><br>
                        <input type="email" class="form-control" id=""><br>
    
                        <label for="">Phone Number</label><br>
                        <input type="number" class="form-control" id=""><br>
                        <label for="">Message</label><br>
                        <textarea name="" id="" cols="30" rows="3"></textarea><br>
                        
                        <input type="reset" class="btn btn-primary" value="Submit">
                    </div>
                   </form>
                </div>
            </div>
        </div>
    </div><br>        

</div>
