h2{
    padding: 20px 0px
}

.addProductDiv{
    width: 40vw;
    padding: 20px 0px;
}
button{
    border: none;
    background-color: green;
    padding:8px;
    border-radius: 4px;
    color:white;
}